a2wsgi
ansio
browser-use
docker
duckduckgo-search
faiss-cpu
fastmcp
fasta2a
flask[async]
flask-basicauth
flaredantic
GitPython
inputimeout
kokoro>=0.9.2
simpleeval
langchain-core
langchain-community
langchain-unstructured[all-docs]
openai-whisper
lxml_html_clean
markdown
mcp
newspaper3k
paramiko
playwright
pypdf
python-dotenv
pytz
sentence-transformers>=3.0.0
tiktoken
unstructured[all-docs]
unstructured-client
webcolors
nest-asyncio
crontab
markdownify
pydantic
pymupdf
pytesseract
pdf2image
pathspec
psutil
soundfile
imapclient
html2text
beautifulsoup4
exchangelib
pywinpty
numpy>=1.26.0
scipy>=1.10.0